
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:'Kanit', 'sans-serif';
}

body{
    background-color: #201e1c;
}


.text-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px

}

h1{
    font-size: 70px;
    color: white;
    
}

footer{
    background-color:wheat;
    width: 100%;
    height: 100px;
    
}



.particles-js-canvas-el{
    position: absolute;
}

#particles-js{
    background-color:rgba(0, 0, 0, 0.829);
    
    
}


video{
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.texts {
    color: white;
    font-size:20px;

}

header {
    height: 120px;
    background-color:#201e1c;
    display:grid ;
    grid-template-columns: 1fr 1fr;
}

main {
    background-color:#201e1c;
    height: 100%;
}

.header-li-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    list-style: none;
    padding-top: 35px;
}

a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    color:white;
}

.nav-image img{
    display:flex;
    padding: 10px;
}


.list-names{
    color: white;
    z-index: 1;
}